@* Generator: MvcView *@


@using LCore.Extensions;
@using Singularity.Routes;
@using Singularity.Extensions;
@using Singularity.Annotations;
@using System.ComponentModel.DataAnnotations.Schema;

@{
    ModelMetadata Meta = Model.Meta;

    LambdaExpression Lambda = null;

    bool ShowLabel = Model.ViewTypes.HasAny(ControllerHelper.ViewType.Create, ControllerHelper.ViewType.Edit, ControllerHelper.ViewType.Display) &&
        (!Meta.AdditionalValues.ContainsKey(FieldHideLabelAttribute.HideLabel) ||
        (bool)Meta.AdditionalValues[FieldHideLabelAttribute.HideLabel] != true);

    if (Model.PropertyName.Contains("."))
        {
        string[] FullProperties;

        Lambda = Model.ModelData.TrueModelType().FindSubProperty(out Meta, out FullProperties, Model.PropertyName.Split("."));
        }
    else
        {
        Meta = Model.ModelData.TrueModelType().Meta(Model.PropertyName);
        }

    if (Lambda == null)
        {
        Model.ModelData.GetProperty(Meta.PropertyName);
        }
    else
        {
        Delegate d = Lambda.Compile();
        d.DynamicInvoke(Model);
        }

    RangeAttribute Attr = null;

    if (Model.Meta.HasAttribute<RangeAttribute>())
        {
        Attr = Model.Meta.GetAttribute<RangeAttribute>();
        }
}

@model IViewField


@if (Model.Meta.PropertyName == ControllerHelper.AutomaticFields.Active)
    {
    return;
    }

<div class="field @Model.ViewTypes.CollectStr((i, t) => $"{t.ToString().ToLower()}-field ") field-@Model.ColumnClass @Model.ModelFieldClasses.Combine(" ")"
     data-object-type="@Meta.ModelType"
     data-type-name="@Meta.DataTypeName"
     @Html.Raw(Model.ModelFieldHtmlAttributes.Combine(" "))
     maximum="@(Attr?.Maximum)"
     minimum="@(Attr?.Minimum)">

    @if (Model.Meta.HasAttribute<HiddenInputAttribute>())
        {
        @Html.ViewField(Model)
        }
    else
        {
        @Html.ValidationMessage(Model.Meta.PropertyName)

        if (ShowLabel)
            {
            string Label = Model.Meta.DisplayName ?? Model.Meta.PropertyName.Humanize();
            @Html.TextContent($"Manage_Edit_Field_Label_{Model.ModelData.GetFriendlyTypeName()}_{Label}",
                Html.Label(Model.Meta.PropertyName, Label))
            }

        if (Model.Meta.IsRequired)
            {
            <span class="required-mark">*</span>
            }

        if (Meta.HasAttribute<ICustomPartial>() &&
            Meta.GetAttribute<ICustomPartial>().IsActive(Html, Model, Model.ViewTypes))
            {
            Meta.GetAttribute<ICustomPartial>().RenderPartial(Html, Model, Model.ViewTypes);
            }
        else if (Html.ViewExists(PartialViews.Field_Edit_PropertyName(Model.PropertyName)))
            {
            // Override the Edit view for the property.

            @Html.Partial(PartialViews.Field_Edit_PropertyName(Model.PropertyName), Model)
            }
        else if (Model.Meta.HasAttribute<KeyAttribute>())
            {
            @Html.Partial(PartialViews.Field_Edit_Key, Model)
            }
        else if (Model.Meta.ModelType == typeof(bool) ||
            Model.Meta.ModelType == typeof(bool?))
            {
            @Html.Partial(PartialViews.Field_Edit_Boolean, Model)
            }
        else if (Model.Meta.DataTypeName == DataType.Currency.ToString())
            {
            @Html.Partial(PartialViews.Field_Edit_Currency, Model)
            }
        else if (Model.Meta.ModelType == typeof(int) ||
            Model.Meta.ModelType == typeof(int?))
            {
            if (Attr != null && (int)Attr.Maximum != int.MaxValue &&
                (int)Attr.Minimum != int.MinValue)
                {
                @Html.Partial(PartialViews.Field_Edit_IntRange, Model)
                }
            else
                {
                @Html.Partial(PartialViews.Field_Edit_Int, Model)
                }
            }
        else if (Model.Meta.ModelType == typeof(long) ||
            Model.Meta.ModelType == typeof(long?))
            {
            @Html.Partial(PartialViews.Field_Edit_Long, Model)
            }
        else if (Model.Meta.ModelType == typeof(double) ||
            Model.Meta.ModelType == typeof(double?) ||
            Model.Meta.ModelType == typeof(float) ||
            Model.Meta.ModelType == typeof(float?) ||
            Model.Meta.ModelType == typeof(decimal) ||
            Model.Meta.ModelType == typeof(decimal?))
            {
            @Html.Partial(PartialViews.Field_Edit_Decimal, Model)
            }
        else if (Model.Meta.ModelType == typeof(DateTime) ||
            Model.Meta.ModelType == typeof(DateTime?))
            {
            @Html.Partial(PartialViews.Field_Edit_DateTime, Model)
            }
        else if (Model.Meta.ModelType.PreferGeneric().IsEnum)
            {
            @Html.Partial(PartialViews.Field_Edit_Enum, Model)
            }
        else if (Model.Meta.ModelType.MemberHasAttribute<ComplexTypeAttribute>(true))
            {
            @Html.Partial(PartialViews.Field_Edit_ComplexType, Model)
            }
        else if (Model.Meta.ModelType.HasInterface<IModel>())
            {
            @Html.Partial(PartialViews.Field_Edit_IModel, Model)
            }
        else if (Model.Meta.ModelType == typeof(string))
            {
            @(Model.Meta.DataTypeName == DataType.MultilineText.ToString() ? Html.Partial(PartialViews.Field_Edit_StringMultiLine, Model) : Html.Partial(PartialViews.Field_Edit_String, Model))
            }
        else if (Html.ViewExists(PartialViews.Field_Edit_PropertyType(Model.Meta.ModelType)))
            {
            @Html.Partial(PartialViews.Field_Edit_PropertyType(Model.Meta.ModelType), Model)
            }
        else if (Html.ViewExists(PartialViews.Field_Edit_DataTypeName(Model.Meta.DataTypeName)))
            {
            @Html.Partial(PartialViews.Field_Edit_DataTypeName(Model.Meta.DataTypeName), Model)
            }
        else
            {
            @Html.Partial(PartialViews.Field_Edit_Unknown, Model)
            }
        }
</div>
