@* Generator: MvcView *@


@using LCore.Extensions;
@using Singularity.Routes;
@using Singularity.Extensions;
@using Singularity.Annotations;

@{

}

@model IViewField

@try
    {

    if (Model.ViewTypes.Has(ControllerHelper.ViewType.TableCell))
        {
        @Html.Raw($"<td class=\"{Model.ColumnClass}\">")
        }

    if (Html.ViewExists(PartialViews.Field_PropertyName_Before(Model.PropertyName)))
        {
        // Display the Before view, if it exists.
        @Html.Partial(PartialViews.Field_PropertyName_Before(Model.PropertyName), Model)
        }

    if (Html.ViewExists(PartialViews.Field_PropertyType_Before(Model.FieldType)))
        {
        // Display the Before view, if it exists.
        @Html.Partial(PartialViews.Field_PropertyType_Before(Model.FieldType), Model)
        }

    foreach (ControllerHelper.ViewType Type in Model.ViewTypes)
        {
        if (Html.ViewExists(PartialViews.Field_ViewType_Before(Type)))
            {
            // Display the After view, if it exists.
            @Html.Partial(PartialViews.Field_ViewType_Before(Type), Model)
            }
        }

    if (Html.ViewExists(PartialViews.Field_PropertyName(Model.PropertyName)))
        {
        // Override both View and Edit views for the property.
        @Html.Partial(PartialViews.Field_PropertyName(Model.PropertyName), Model)
        }
    else
        {
        bool OverridenView = false;

        foreach (ControllerHelper.ViewType Type in Model.ViewTypes)
            {
            // Change this field override. It doesnt make sense.

            if (Html.ViewExists($"Fields/{Model.FieldType.Name}_{Type}"))
                {
                // Display the custom Type view
                @Html.Partial($"Fields/{Model.FieldType.Name}_{Type}")
                OverridenView = true;
                }
            }

        List<IFieldPartial> PartialAttributes = Model.Meta.GetAttributes<IFieldPartial>() ?? new List<IFieldPartial>();

        foreach (IFieldPartial FieldBefore in PartialAttributes)
            {
            if (FieldBefore.IsActive(Html, Model, Model.ViewTypes))
                {
                FieldBefore.RenderPartial_Before(Html, Model, Model.ViewTypes);
                }
            }

        if (OverridenView)
            {
            }
        else if (Model.ViewTypes.HasAny(ControllerHelper.ViewType.Display, ControllerHelper.ViewType.TableCell) ||
            Model.Meta.IsReadOnly)
            {
            @Html.Partial(PartialViews.Field_View, Model)
            }
        else if (Model.ViewTypes.HasAny(ControllerHelper.ViewType.Edit, ControllerHelper.ViewType.Create))
            {
            @Html.Partial(PartialViews.Field_Edit, Model)
            }

        PartialAttributes.Reverse();

        foreach (IFieldPartial FieldAfter in PartialAttributes)
            {
            if (FieldAfter.IsActive(Html, Model, Model.ViewTypes))
                {
                FieldAfter.RenderPartial_After(Html, Model, Model.ViewTypes);
                }
            }
        }

    if (Html.ViewExists(PartialViews.Field_PropertyType_After(Model.FieldType)))
        {
        // Display the Before view, if it exists.
        @Html.Partial(PartialViews.Field_PropertyType_After(Model.FieldType), Model)
        }

    foreach (ControllerHelper.ViewType Type in Model.ViewTypes)
        {
        if (Html.ViewExists(PartialViews.Field_ViewType_After(Type)))
            {
            // Display the After view, if it exists.
            @Html.Partial(PartialViews.Field_ViewType_After(Type), Model)
            }
        }

    if (Html.ViewExists(PartialViews.Field_PropertyName_After(Model.PropertyName)))
        {
        // Display the After view, if it exists.
        @Html.Partial(PartialViews.Field_PropertyName_After(Model.PropertyName), Model)
        }

    if (Model.ViewTypes.Has(ControllerHelper.ViewType.TableCell))
        {
        @Html.Raw("</td>")
        }
    }
catch (Exception e)
    {
    ControllerHelper.HandleError(Context, e);

    if (Model.ViewTypes.Has(ControllerHelper.ViewType.TableCell))
        {
        @Html.Raw("<td>")
        }

        @Html.Partial(PartialViews.Field_Error, e)

    if (Model.ViewTypes.Has(ControllerHelper.ViewType.TableCell))
        {
        @Html.Raw("</td>")
        }
    }
