@model SingularityInstance.Models.ManageLoginsViewModel
@using Microsoft.Owin.Security
@{
    ViewBag.Title = "Manage your external logins";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
@{
    IEnumerable<AuthenticationDescription> LoginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (!LoginProviders.Any())
        {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
        }
    else
        {
        if (Model.CurrentLogins.Count > 0)
            {
            <h4>Registered Logins</h4>
            <table class="table">
                <tbody>
                    @foreach (var Account in Model.CurrentLogins)
                        {
                        <tr>
                            <td>@Account.LoginProvider</td>
                            <td>
                                @if (ViewBag.ShowRemoveButton)
                                    {
                                    using (Html.BeginForm("RemoveLogin", "Manage"))
                                        {
                                        @Html.AntiForgeryToken()
                                        <div>
                                            @Html.Hidden("loginProvider", Account.LoginProvider)
                                            @Html.Hidden("providerKey", Account.ProviderKey)
                                            <input type="submit" class="btn btn-default" value="Remove" title="Remove this @Account.LoginProvider login from your account" />
                                        </div>
                                        }
                                    }
                                else
                                    {
                                    @: &nbsp;
                                }
                            </td>
                        </tr>
                        }
                </tbody>
            </table>
            }
        if (Model.OtherLogins.Count > 0)
            {
            using (Html.BeginForm("LinkLogin", "Manage"))
                {
                @Html.AntiForgeryToken()
                <div id="socialLoginList">
                    <p>
                        @foreach (var Login in Model.OtherLogins)
                            {
                            <button type="submit" class="btn btn-default" id="@Login.AuthenticationType" name="provider" value="@Login.AuthenticationType" title="Log in using your @Login.Caption account">@Login.AuthenticationType</button>
                            }
                    </p>
                </div>
                }
            }
        }
}
