@* Generator: MvcView *@

@{
    bool Check = (Model.PropertyData is bool && (bool)Model.PropertyData) ||
        (Model.PropertyData is bool? && (bool?)Model.PropertyData == true);
}

@model IViewField

<input type="radio"
       id="@(Model.Meta.PropertyName)-false"
       name="@Model.Meta.PropertyName"
       @Html.Raw(Check == false ? "checked=\"checked\"" : "")
       checked=""
       value="false" />

<label for="@(Model.Meta.PropertyName)-false">
    <span>No</span>
</label>

<input type="radio"
       id="@(Model.Meta.PropertyName)-true"
       name="@Model.Meta.PropertyName"
       @Html.Raw(Check ? "checked=\"checked\"" : "")
       value="true" />

<label for="@(Model.Meta.PropertyName)-true">
    <span>Yes</span>
</label>