@* Generator: MvcView *@

@using LCore;
@using Singularity;
@using Singularity.Models;
@using Singularity.Controllers;
@using Singularity.Context;
@using Singularity.Routes;
@using Singularity.Annotations;
@using Singularity.Extensions;
@using System.Collections;
@using System.Collections.Generic;
@using System.ComponentModel;
@using System.ComponentModel.Design;
@using System.Web;
@using System.Web.Mvc;
@using System.Linq;
@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel.DataAnnotations.Schema;

@{
    RangeAttribute Attr = Model.Meta.GetAttribute<RangeAttribute>();
}

@model IViewField

<div class="int-range"
     target="@Model.Meta.PropertyName"
     text-target="@(Model.Meta.PropertyName)_Text"
     value="@Model.ModelData.GetProperty(Model.Meta.PropertyName)"
     maximum="@Attr.Maximum"
     minimum="@Attr.Minimum">
</div>

<div id="@(Model.Meta.PropertyName)_Text" class="int-range-display">
    @Model.ModelData.GetProperty(Model.Meta.PropertyName)
</div>

@Html.Hidden(Model.Meta.PropertyName);