@* Generator: MvcView *@
@* ReSharper disable once RedundantUsingDirective*@
@using Singularity.Routes;
@using LCore.Extensions;
@using Singularity.Annotations;
@using Singularity.Extensions;
@using System.ComponentModel.DataAnnotations.Schema;

@{
    bool ShowLabel = Model.ViewTypes.HasAny(ControllerHelper.ViewType.Create, ControllerHelper.ViewType.Edit, ControllerHelper.ViewType.Display);
}

@model IViewField


<div class="field @Model.ViewTypes.CollectStr((i,t) => $"{t.ToString().ToLower()}-field ") field-@Model.ColumnClass @Model.ModelFieldClasses.Combine(" ")"
     @Html.Raw(Model.ModelFieldHtmlAttributes.Combine(" "))
     data-object-type="@Model.Meta.ModelType"
     data-type-name="@Model.Meta.DataTypeName">

    @if (Model.Meta.HasAttribute<ICustomPartial>() &&
        Model.Meta.GetAttribute<ICustomPartial>().IsActive(Html, Model, Model.ViewTypes))
        {
        Model.Meta.GetAttribute<ICustomPartial>().RenderPartial(Html, Model, Model.ViewTypes);
        }
    else
        {
        if (Model.ViewTypes.Has(ControllerHelper.ViewType.TableCell) &&
            !Model.Meta.HasAttribute<NotMappedAttribute>(true) &&
            (Model.Meta.ModelType.PreferGeneric().HasInterface<IConvertible>() ||
            Model.Meta.ModelType.HasInterface<IModel>()))
            {
            string Data = (Model.PropertyData ?? "").ToString();

            if (Model.PropertyData is DateTime)
                {
                Data = ((DateTime)Model.PropertyData).ToShortDateString();
                }
            Data = Data.RemoveAll(" 12:00:00 AM");

            var Data1 = Model.PropertyData as IModel;
            if (Data1 != null)
                {
                Data = Data1.ToString();
                }

            if (!string.IsNullOrEmpty(Data))
                {
                <span class="manage-view-show-similar"
                      data-field-name="@Model.Meta.PropertyName"
                      data-field-value="@Data"
                      title="View Similar">
                    <glyph>&#xe003;</glyph>
                </span>
                }
            }

        if (ShowLabel)
            {
            string Label = Model.Meta.DisplayName ?? Model.Meta.PropertyName.Humanize();

            @Html.TextContent($"Manage_Edit_Field_Label_{Model.ModelData.GetFriendlyTypeName()}_{Label}",
                Html.Label(Model.Meta.PropertyName, Label))
            }

        if (Model.PropertyData == null)
            {
            @Html.Partial(PartialViews.Manage.Fields.View.Empty, Model)
            }
        else
            {
            if (Html.ViewExists(PartialViews.Manage.Fields.View.PropertyName(Model.PropertyName)))
                {
                // Override the Edit view for the property.

                @Html.Partial(PartialViews.Manage.Fields.View.PropertyName(Model.PropertyName))
                }
            else if (Model.Meta.AdditionalValues.ContainsKey(FieldStringFormatAttribute.Key) &&
                Model.PropertyData is IFormattable)
                {
                @Html.Partial(PartialViews.Manage.Fields.View.FormatString, Model)
                }
            else if (Model.Meta.ModelType == typeof(bool) || Model.Meta.ModelType == typeof(bool?))
                {
                @Html.Partial(PartialViews.Manage.Fields.View.Boolean, Model)
                }
            else if (Model.Meta.DataTypeName == DataType.Currency.ToString())
                {
                @Html.Partial(PartialViews.Manage.Fields.View.Currency, Model)
                }
            else if (Model.Meta.ModelType == typeof(int) || Model.Meta.ModelType == typeof(int?))
                {
                @Html.Partial(PartialViews.Manage.Fields.View.Int, Model)
                }
            else if (Model.Meta.ModelType == typeof(DateTime) || Model.Meta.ModelType == typeof(DateTime?))
                {
                @Html.Partial(PartialViews.Manage.Fields.View.DateTime, Model)
                }
            else if (Model.ModelData.TrueModelType().HasAttribute<DisplayColumnAttribute>(true) &&
                Model.ModelData.TrueModelType().GetAttribute<DisplayColumnAttribute>(true).DisplayColumn == Model.Meta.PropertyName)
                {
                @Html.Partial(PartialViews.Manage.Fields.View.DisplayColumn, Model)
                }
            else if (Model.Meta.ModelType.HasInterface<IModel>())
                {
                @Html.Partial(PartialViews.Manage.Fields.View.IModel, Model)
                }
            else if (Model.Meta.ModelType.HasInterface<IEnumerable>() &&
                Model.Meta.ModelType.IsGenericType &&
                Model.Meta.ModelType.GetGenericArguments()[0].HasInterface<IModel>())
                {
                @Html.Partial(PartialViews.Manage.Fields.View.IModelCollection, Model)
                }
            else if (Model.Meta.ModelType.PreferGeneric().IsEnum)
                {
                @Html.Partial(PartialViews.Manage.Fields.View.Enum, Model)
                }
            else if (Html.ViewExists(PartialViews.Manage.Fields.View.PropertyType(Model.Meta.ModelType)))
                {
                @Html.Partial(PartialViews.Manage.Fields.View.PropertyType(Model.Meta.ModelType), Model)
                }
            else if (Html.ViewExists(PartialViews.Manage.Fields.View.DataTypeName(Model.Meta.DataTypeName)))
                {
                @Html.Partial(PartialViews.Manage.Fields.View.DataTypeName(Model.Meta.DataTypeName), Model)
                }
            else if (Model.Meta.ModelType == typeof(string))
                {
                @Html.Partial(PartialViews.Manage.Fields.View.String, Model)
                }
            else if (Model.Meta.ModelType == typeof(string[,]))
                {
                @Html.Partial(PartialViews.Manage.Fields.View.StringMatrix, Model)
                }
            else if (Model.Meta.ModelType == typeof(string[][]))
                {
                @Html.Partial(PartialViews.Manage.Fields.View.StringMultiArray, Model)
                }
            else
                {
                @Html.Partial(PartialViews.Manage.Fields.View.Unknown, Model)
                }
            }
        }
</div>
