@* Generator: MvcView *@

@using LCore;
@using Singularity;
@using Singularity.Models;
@using Singularity.Controllers;
@using Singularity.Context;
@using System.Collections;
@using System.Collections.Generic;
@using System.ComponentModel;
@using System.ComponentModel.Design;
@using System.Web;
@using System.Web.Mvc;
@using System.Linq;
@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel.DataAnnotations.Schema;

@{

}

@model IViewField

@if (Model.PropertyData.ToString().Length > ManageController.DefaultTableTextLength)
    {
    <a title="@Model.PropertyData.ToString()" href="@Model.Route_FieldRelation(ViewBag.ControllerName)">
        <span>
            @Model.PropertyData.ToString().Substring(0, ManageController.DefaultTableTextLength)
        </span>
    </a>
    }
else
    {
    <a href="@Model.Route_FieldRelation(ViewBag.ControllerName)">
        <span>
            @Model.PropertyData.ToString()
        </span>
    </a>
    }