@* Generator: MvcView *@

@using LCore;
@using Singularity;
@using Singularity.Models;
@using Singularity.Controllers;
@using Singularity.Context;
@using Singularity.Routes;
@using Singularity.Annotations;
@using Singularity.Extensions;
@using System.Collections;
@using System.Collections.Generic;
@using System.ComponentModel;
@using System.ComponentModel.Design;
@using System.Web;
@using System.Web.Mvc;
@using System.Linq;
@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel.DataAnnotations.Schema;

@{
}

@model IViewField

@if (Model.PropertyData != null && 
    Model.PropertyData.ToString().Length > ControllerHelper.DefaultTableTextLength)
    {
    <a class="btn btn-default"
       title="@Model.PropertyData.ToString()"
       href="@Model.Route_FieldRelation(ViewBag.ControllerName)">
        <span>
            @Model.PropertyData.ToString().Substring(0, ControllerHelper.DefaultTableTextLength)
        </span>
    </a>
    }
else
    {
    <a class="btn btn-default"
       href="@Model.Route_FieldRelation(ViewBag.ControllerName)">
        <span>
            @Model.PropertyData.ToString()
        </span>
    </a>
    }

@if (Model.PropertyData != null && 
    ViewContext.AllowEdit(Model.FieldType) &&
    !Model.ViewTypes.Has(ControllerHelper.ViewType.TableCell))
    {
    <a class="btn btn-default"
       href="@Url.Action(Singularity.Routes.Controllers.Manage.Actions.Edit,
        ContextProviderFactory.GetCurrent().GetManageController(Session, Model.FieldType).Name,
        Singularity.Routes.Controllers.Manage.Actions.Route_Edit((IModel)Model.PropertyData, Request.Url.AbsoluteUri))">
        <span>
            <glyph>&#xe065;</glyph>
            Edit
        </span>
    </a>
    }

@if (Model.PropertyData == null && 
    ViewContext.AllowCreate(Model.FieldType) &&
    !Model.ViewTypes.Has(ControllerHelper.ViewType.TableCell))
    {
    <a class="btn btn-default"
       href="@Url.Action(Singularity.Routes.Controllers.Manage.Actions.Create,
        ContextProviderFactory.GetCurrent().GetManageController(Session, Model.FieldType).Name,
        Singularity.Routes.Controllers.Manage.Actions.Route_Create(Request.Url.AbsoluteUri))">
        <span>
            <glyph>&#x2a;</glyph>
            Create
        </span>
    </a>
    }