@* Generator: MvcView *@

@using LCore;
@using Singularity;
@using Singularity.Models;
@using Singularity.Controllers;
@using Singularity.Context;
@using System.Collections;
@using System.Collections.Generic;
@using System.ComponentModel;
@using System.ComponentModel.Design;
@using System.Web;
@using System.Web.Mvc;
@using System.Linq;
@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel.DataAnnotations.Schema;

@{
    String[][] TableData = (String[][])Model.PropertyData;
}

@model IViewField


<table class="string-multiarray">
    @for (int i = 0; i < TableData.Length; i++)
        {
        if (i == 0)
            {
            @Html.Raw("<thead>");
            }

            <tr>
                @for (int j = 0; j < TableData[i].Length; j++)
                    {
                    <td>
                        @if (TableData[i][j].ToString().Length > ManageController.DefaultTableTextLength)
                            {
                            <span class="abbreviated" title="@Model.PropertyData">
                                @TableData[i][j].Substring(0, ManageController.DefaultTableTextLength) ...
                            </span>
                            }
                        else
                            {
                            <span>
                                @TableData[i][j]
                            </span>
                            }
                    </td>
                    }

            </tr>

        if (i == 0)
            {
            @Html.Raw("</thead>");
            }

        if (TableData.Length == 1)
            {
            <tr>
                <td colspan="@TableData[i].Length">
                    &nbsp;
                </td>
            </tr>
            }

        }
</table>