@* Generator: MvcView *@

@{
    var TableData = (string[][])Model.PropertyData;
}

@model IViewField

<table class="string-multiarray">
    @for (int Index1 = 0; Index1 < TableData.Length; Index1++)
        {
        if (Index1 == 0)
            {
            @Html.Raw("<thead>")
            }

            <tr>
                @for (int Index2 = 0; Index2 < TableData[Index1].Length; Index2++)
                    {
                    <td>
                        @if (TableData[Index1][Index2].Length > SingularityControllerHelper.DefaultTableTextLength)
                            {
                            <span class="abbreviated" title="@Model.PropertyData">
                                @TableData[Index1][Index2].Substring(startIndex: 0, length: SingularityControllerHelper.DefaultTableTextLength) ...
                            </span>
                            }
                        else
                            {
                            <span>
                                @TableData[Index1][Index2]
                            </span>
                            }
                    </td>
                    }

            </tr>

        if (Index1 == 0)
            {
            @Html.Raw("</thead>")
            }

        if (TableData.Length == 1)
            {
            <tr>
                <td colspan="@TableData[Index1].Length">
                    &nbsp;
                </td>
            </tr>
            }

        }
</table>