@* Generator: MvcView *@
@* ReSharper disable All *@

@using Singularity.Routes;

@{
    Layout = Layouts.MainLayout;

    ViewBag.Title = "Examples";
}

<script type="text/javascript">

    sing.templateShown(function (element) {

    });

    $(document).init(function () {

    });

    $(document).ready(function () {
        sing.loadTemplate(['/Templates/Common.html'],
            function (ms) {

                sing.initTemplates();

                sing.ready();
            });

    });
</script>
<h1>Examples</h1>
<!--
<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#menu1">Bootstrap</a></li>
    <li><a data-toggle="tab" href="#menu2">JQueryUI</a></li>
    <li><strong><a data-toggle="tab" href="#menu3">Singularity</a></strong></li>
</ul>

<div class="tab-content container">

    <div id="menu1" class="tab-pane fade container">

        @Html.Partial(PartialViews.Examples_Bootstrap)
    </div>

    <div id="menu2" class="tab-pane fade">

        @Html.Partial(PartialViews.Examples_JQueryUI)
    </div>

    <div id="menu3" class="tab-pane fade">

        @Html.Partial(PartialViews.Examples_Singularity)
    </div>
</div>
-->
<!--
<div sing-fill="Tabs with ['Bootstrap', 'JQueryUI', 'Singularity']">
    <sing content>
        @Html.Partial(PartialViews.Examples_Bootstrap)
    </sing>
    <sing content>
        @Html.Partial(PartialViews.Examples_JQueryUI)
    </sing>
    <sing content>
        @Html.Partial(PartialViews.Examples_Singularity)
    </sing>
</div>

    -->
