@model SingularityInstance.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use another service to log in.</h4>
<hr />
@{
    IEnumerable<AuthenticationDescription> LoginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (!LoginProviders.Any())
        {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
        }
    else
        {
        using (Html.BeginForm("ExternalLogin", "Account", new { Model.ReturnUrl }))
            {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (var Provider in LoginProviders)
                        {
                        <button type="submit" class="btn btn-default" id="@Provider.AuthenticationType" name="provider" value="@Provider.AuthenticationType" title="Log in using your @Provider.Caption account">@Provider.AuthenticationType</button>
                        }
                </p>
            </div>
            }
        }
}
