@* ReSharper disable once RedundantUsingDirective*@
@using Singularity.Routes;

@{
    var SiteContext = ContextProviderFactory.GetCurrent();

    ViewBag.Title = ViewBag.Title ?? "";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>&bull; @SiteContext.SiteTitle - @ViewBag.Title</title>
    <meta name="description" content="" />

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/singularity.css" rel="stylesheet">
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap/bootstrap.icon.css" rel="stylesheet">

    <link href="~/Content/jquery-ui/base/accordion.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/all.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/autocomplete.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/base.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/button.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/core.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/datepicker.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/dialog.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/draggable.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/menu.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/progressbar.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/resizable.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/selectable.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/selectmenu.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/slider.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/sortable.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/spinner.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/tabs.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/theme.css" rel="stylesheet">
    <link href="~/Content/jquery-ui/base/tooltip.css" rel="stylesheet">
    <link href="~/Content/singularity-forms.css" rel="stylesheet">

    <script src="~/Scripts/include/jquery/jquery-3.0.0.js"></script>

    <script src="~/Scripts/include/jquery-ui/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/include/bootstrap/bootstrap.js"></script>
    <script src="~/Scripts/include/pnglib/pnglib.js"></script>
    <script src="~/Scripts/include/identicon/identicon.js"></script>
    <script src="~/Scripts/include/jsSHA/jsSHA.js"></script>

    <script src="~/Scripts/singularity.js"></script>

    <script src="~/Scripts/include/chance/chance.js"></script>
    <script src="~/Scripts/include/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/Scripts/include/jquery.mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Scripts/include/jquery.timepicker/jquery.timepicker.js"></script>
    <script src="~/Scripts/include/qTip/qTip.js"></script>


</head>
<body singularity>

    <script type="text/javascript">

        // ReSharper disable once UnusedParameter
        sing.templateShown(function (element) {

        });

        $(document)
            .init(function () {

            });

        $(document)
            .ready(function () {
                sing.tests.runTests();

                sing.loadTemplate(['/Templates/Common.html', '/Templates/Documentation.html'],
                    function () {

                        sing.initTemplates();

                        sing.ready();

                        $(".tabs").tabs({ collapsible: true });
                    });
            });
    </script>

    @Html.Partial(PartialViews.Nav)

    <div class="container">

        @if (TempData.Peek(ControllerHelper.StatusMessage_Temporary) != null)
            {
            string Message = (string)TempData[ControllerHelper.StatusMessage_Temporary];
            string Icon = (string)(TempData[ControllerHelper.StatusMessage_TemporaryIcon] ?? "");

            <div class="status-message close-dialog">
                @if (!string.IsNullOrEmpty(Icon))
                    {
                    <glyph>@Icon</glyph>
                    }
                @Message
            </div>
            }

        @RenderBody()

        @Html.Partial(PartialViews.Footer)

        @RenderSection("scripts", false)
    </div>
</body>
</html>
