@* Generator: MvcView *@

@using System;
@using System.Linq;
@using System.Linq.Expressions;
@using System.Collections;
@using System.Collections.Generic;
@using System.ComponentModel;
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel.Design;
@using System.Web;
@using System.Web.Mvc;

@using LCore;
@using Singularity;
@using Singularity.Models;
@using Singularity.Controllers;
@using Singularity.Context;
@using Singularity.Routes;
@using Singularity.Extensions;
@using Singularity.Annotations;

@{
    Boolean InlineEdit = ViewBag.InlineEdit == true && ViewBag.InlineEditID == Model.GetID();

    ControllerHelper.ViewType[] ViewTypes = InlineEdit ?
        new[] { ControllerHelper.ViewType.Edit, ControllerHelper.ViewType.TableCell } :
        new[] { ControllerHelper.ViewType.TableCell };

    IEnumerable<ModelMetadata> Fields = null;

    if (Model is IFieldGroups)
        {
        Fields = ((IFieldGroups)Model).GetFieldGroup(Context, ControllerHelper.ViewType.TableCell);
        }
    else
        {
        Fields = FieldGroups.GetFieldGroup(Context, Model.TrueModelType(), ControllerHelper.ViewType.TableCell);
        }
}

@model IModel

<tr>
    @if (!InlineEdit &&
        ViewContext.AllowView(Model.TrueModelType()))
        {
        <td class="view-cell center">
            <div>
                <a href="@(Url.Controller<ManageController>().Action(c => c.Details, Model.GetID<int>(), Request.Url.AbsoluteUri))">
                    <span class="glyphicon pointer btn btn-default">
                        &#xe003;
                    </span>
                </a>
            </div>
        </td>
        }

    @foreach (ModelMetadata Meta in Fields)
        {
        ViewField Field = new ViewField(ViewContext, Model.TrueModelType(), Meta.PropertyName, Model, ViewTypes);

        @Html.ViewField(Field)
        }

    @if (ViewContext.AllowEdit(Model.TrueModelType()))
        {
        <td class="edit-cell center">
            <div>
                <a href="@(Url.Controller<ManageController>().Action(c => c.Edit, Model.GetID<int>(), Request.Url.AbsoluteUri, false))"
                   @*ctrl-href="@(Url.Controller<ManageController>()
                   .QS(Singularity.Routes.Controllers.Manage.Actions.Route_InlineEdit(ViewBag.ManageModel, Model, Request))
                   .Lambda<int, String, SortDirection, String, String, ControllerHelper.ManageViewType, String, Boolean>(
                   (Expression<Func<ManageController, Func<int, String, SortDirection, String, String, ControllerHelper.ManageViewType, String, Boolean, ActionResult>>>)(c => c.Manage)
                   ))"*@>
                    <span class="glyphicon pointer btn btn-default">
                        &#xe065;
                    </span>
                </a>
            </div>
        </td>
        }

    @if (ViewContext.AllowDeactivate(Model.TrueModelType()))
        {
        <td class="deactivate-cell center">
            <div>
                <a href="@(Url.Controller<ManageController>().Action(c => c.Delete, Model.GetID<int>(), Request.Url.AbsoluteUri))"
                   shift-href="@(Url.Controller<ManageController>()
                   .Action<int,String,FormCollection, Boolean>(
                   (Expression<Func<ManageController, Func<int,String,FormCollection, Boolean, ActionResult>>>)(c => c.DeleteConfirm),
                   Model.GetID<int>(), Request.Url.AbsoluteUri, null,
                   ViewBag.ManageModel.ViewType.HasFlag(ControllerHelper.ManageViewType.Inactive)))">
                    <span class="glyphicon pointer btn btn-default">

                        @Html.Raw(ViewBag.ManageModel.ViewType.HasFlag(ControllerHelper.ManageViewType.Inactive) ? "&#xe133;" : "&#xe020;")

                    </span>
                </a>
            </div>
        </td>
        }
</tr>