@* Generator: MvcView *@

@using LCore;
@using Singularity;
@using Singularity.Models;
@using Singularity.Controllers;
@using Singularity.Context;
@using Singularity.Routes;
@using System.Linq;
@using System.Linq.Expressions;
@using System.Collections;
@using System.Collections.Generic;
@using System.ComponentModel;
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel.Design;
@using System.Web;
@using System.Web.Mvc;

@{

}

<div class="content-wrapper">
    <div class="float-left">
        <p class="site-title">
            <a href="@Url.Action("Index", "Home"))">
                <img id="logo" src="@ViewBag.ContextProvider.GetContext(Session).GetLogoURL()" />
            </a>
        </p>
        @if (ControllerHelper.IsLoggedIn(Session))
            {
            <a href="@Url.Action("SwitchContext", "Main")" class="context-switch" title="Switch Sites"></a>
            }
    </div>
    <div class="float-right">
        <section id="login">
            @Html.Partial(ControllerHelper.PartialViews.Login)
        </section>
        <nav>
            <ul id="menu">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")

                    @if (ControllerHelper.IsLoggedIn(Session))
                        {
                        foreach (IGrouping<String, ManageController> Group in ContextProviderFactory.GetCurrent().AllManageControllers(Session).GroupBy(m => m.PageGroup))
                            {
                            if (Group.Has((m) =>
                            {
                                return m.OverridePermissions.View == true &&
                                    ControllerHelper.AllowView(Session, m.ModelType);
                            }))
                                {
                            <li>
                                @Html.Partial(PartialViews.TextContent, new TextContentViewModel("Menu_PageGroup_" + Group.Key, Group.Key))
                                <ul>
                                    @foreach (ManageController Manage in Group)
                                        {
                                        if (Manage.OverridePermissions.View == true &&
                                            ControllerHelper.AllowView(Session, Manage.ModelType))
                                            {
                                            <li>
                                                @Html.Partial(PartialViews.TextContent,
                                                new TextContentViewModel("Menu_PageLink_" + Group.Key,
                                                    Html.ActionLink((String)TextContent.GetText(ViewBag.ContextProvider.GetContext(Session),
                                                            "Menu_Page_" + Manage.MenuText,
                                                            Manage.MenuText),
                                                        Manage.ManageActionName,
                                                        Manage.Name)))
                                            </li>
                                            }
                                        }
                                </ul>






                            </li>
                                }
                            }
                        }
                    </li>
                </ul>
            </nav>
        </div>
    </div>