@* Generator: MvcView *@


@using LCore.Extensions;
@using Singularity.Routes;
@using Singularity.Extensions;

@model ManageViewModel

@{
    ViewBag.Title = Model.Title;

    ViewBag.PaginationCount = 0;

    // So ManageRow can view ManageModel data
    ViewBag.ManageModel = Model;

}

@* ReSharper disable once Mvc.PartialViewNotResolved *@
@if (Html.ViewExists(PartialViews.Manage_Before))
    {
    @Html.Partial(PartialViews.Manage_Before, Model)
    }

<h1>
    @Html.TextContent($"Manage_Header_{Model.FriendlyModelTypeName}", Model.Title)
</h1>

<div class="manage manage-@Model.ModelTypeCSSClass" remember-page>


    @{
        ManageController controller = ViewContext.Controller as ManageController;
    }
    @if (controller != null &&
                controller.OverridePermissions.Create == true)
        {
        <div>
            <a href="@(Url.Controller<ManageController>().Action(controller.CreateAction, Request.Url?.AbsoluteUri))"
               key-bind-click="Numpad +"
               key-bind-click-name="New @Model.FriendlyModelTypeName">
                <glyph>&#x2a;</glyph>
                @Html.TextContent($"Manage_CreateNew_{Model.FriendlyModelTypeName}", $"New {Model.FriendlyModelTypeName}")
            </a>
        </div>
        }

    @Html.Partial(PartialViews.Manage_Pagination, Model)
    @Html.Partial(PartialViews.Manage_Search, Model)

    @if (!ViewData.ModelState.IsValid)
        {
        <span class="errors">
            @Html.ValidationSummary(true)
        </span>
        }

    <table class="manage-table">

        @Html.Partial(PartialViews.Manage_HeaderRow, Model)

        <tbody>
            @if (Model.Models != null)
                {
                if (Model.TotalItems == 0)
                    {
                    <tr>
                        <td colspan="@(Model.GetVisibleColumns().Count + 3)" class="no-results center">
                            @Html.TextContent($"Manage_NoResults_{Model.FriendlyModelTypeName}", "No results found")
                        </td>
                    </tr>
                    }
                else
                    {
                    foreach (IModel m in Model.Models)
                        {
                        if (Model.InlineEditID == m.GetID())
                            {
                            ViewBag.InlineEdit = true;
                            ViewBag.InlineEditID = Model.InlineEditID;
                            }

                        @Html.Partial(PartialViews.Manage_Row, m)

                        if (Model.InlineEditID == m.GetID())
                            {
                            ViewBag.InlineEdit = false;
                            ViewBag.InlineEditID = null;
                            }
                        }
                    }
                }
        </tbody>
    </table>
    @{
        ViewBag.PaginationCount = 1;
    }
    @Html.Partial(PartialViews.Manage_Pagination, Model)

    @if (Model.ModelType.Meta().Properties.Has(m => m.PropertyName == ControllerHelper.AutomaticFields.Active) &&
                ViewContext.AllowViewInactive(Model.ModelType))
        {
        <div class="show-hide-inactive">
            <a href="@(Url.Controller<ManageController>()
                .QS(Controllers.Manage.Actions.Route_ToggleInactive(Model))
                .Lambda<int, string, SortDirection, string, string, ControllerHelper.ManageViewType, string, bool>(c => c.Manage))">
                @{
                    string ShowInactiveStr = Model.ViewType.HasFlag(ControllerHelper.ManageViewType.Inactive) ? "Show Active" : "Show Inactive";
                }

                @Html.TextContent($"Manage_{ShowInactiveStr}_{Model.ModelType.GetFriendlyTypeName()}", ShowInactiveStr)
            </a>

        </div>
                        }

    @if (Model.Controller.ArchiveActive)
        {
        string ShowArchiveStr = Model.ViewType.HasFlag(ControllerHelper.ManageViewType.Archive) ? "Show Archived" : "Show Current";

        <div class="show-hide-archive">
            <a href="@(Url.Controller<ManageController>()
                .QS(Controllers.Manage.Actions.Route_ToggleArchive(Model))
                .Lambda<int, string, SortDirection, string, string, ControllerHelper.ManageViewType, string, bool>(c => c.Manage))">
                @Html.TextContent($"Manage_{ShowArchiveStr}_{Model.ModelType.GetFriendlyTypeName()}", ShowArchiveStr)
            </a>
        </div>
        }

    @Html.Partial(PartialViews.Manage_CustomExport, Model)

</div>

@* ReSharper disable once Mvc.PartialViewNotResolved *@
@if (Html.ViewExists(PartialViews.Manage_After))
    {
    @Html.Partial(PartialViews.Manage_After, Model)
    }