
@{
    var Rules = Authentication.PasswordDefaultRules;
}


<ul>
    @if (Rules.LengthMinimum > 0)
        {
        <li>Password must be at least <b>@Rules.LengthMinimum characters long</b></li>
        }
    @if (Rules.LengthMaximum > 0)
        {
        <li>Password must be at most <b>@Rules.LengthMaximum characters long</b></li>
        }
    @if (Rules.LowerCaseMinimum > 0)
        {
        <li>Password must contain at least <b>@Rules.LowerCaseMinimum lower case characters</b></li>
        }
    @if (Rules.UpperCaseMinimum > 0)
        {
        <li>Password must contain at least <b>@Rules.UpperCaseMinimum upper case characters</b></li>
        }
    @if (Rules.NumberMinimum > 0)
        {
        <li>Password must contain at least <b>@Rules.NumberMinimum numbers</b></li>
        }
    @if (Rules.SpecialMinimum > 0)
        {
        <li>Password must contain at least <b>@Rules.SpecialMinimum special characters</b></li>
        }
</ul>