@* Generator: MvcView *@

@using LCore.Extensions;
@using Singularity.Extensions;
@* ReSharper disable once RedundantUsingDirective*@
@using LMVC.Routes;

@model ManageViewModel

@{
    string ControllerTypeName = ViewContext.Controller.GetType().FullName;

    List<CustomExport> Exports = CustomExport.Find(Context.GetModelContext(), Model.ModelType, ControllerTypeName).List();

    Dictionary<string, List<CustomExport>> ExportGroups = Exports.Group();
}

@if (ViewContext.AllowExport(Model.ModelType))
    {
    CustomExport DefaultExport = null;

    <div class="manage-export">
        <span class="btn-info btn right method-show-hide relative" click-fade-toggle=".manage-export-full">
            <glyph class="manage-export-full absolute">&#x2b;</glyph>
            <glyph class="manage-export-full absolute" style=" display: none;">&#x2212;</glyph>
        </span>

        <h2>Exports</h2>

        <div class="manage-export-full" style="display:none">
            @Html.TextContent($"Manage_ExportCSV_{Model.ModelType.GetFriendlyTypeName()}", "Export", ShowText: false)

            @if (Exports != null && Exports.Count > 0)
                {
                foreach (var Export in Exports)
                    {
                    if (Export.Name == CustomExport.DefaultName)
                        {
                        DefaultExport = Export;
                        }
                    }

                if (DefaultExport != null)
                    {
                    <div class="export-row">
                        @* ReSharper disable once Mvc.ActionNotResolved *@
                        @Html.ActionLink("Default Export",
                           nameof(ManageController.Export),
                           Controllers.Manage.Actions.Route_Export(Model, DefaultExport))
                        <a href="@(Url.Controller<CustomExportController>().Action(Controller => Controller.Edit, DefaultExport.CustomExportID, Request.Url?.AbsoluteUri, false))">
                            <div class="btn btn-default">
                                <glyph>&#xe065;</glyph>
                            </div>
                        </a>
                    </div>
                    }
                else
                    {
                    <div class="export-row">
                        @* ReSharper disable once Mvc.ActionNotResolved *@
                        @Html.ActionLink("Default Export",
                            nameof(ManageController.Export),
                            Controllers.Manage.Actions.Route_Export(Model))
                        <a href="@(Url.Controller<CustomExportController>().QS(new Dictionary<string, object> {
                                {"ExportType", Model.ModelType.FullName},
                                {"Name", CustomExport.DefaultName},
                                {"ManagementPage", ViewContext.GetManageController().GetType().FullName}
                            })
                            .Action(Controller => Controller.Create, Request.Url?.AbsoluteUri))">
                            <div class="btn btn-default">
                                <glyph>&#xe065;</glyph>
                            </div>
                        </a>
                    </div>
                    }
                foreach (string Group in ExportGroups.Keys)
                    {
                    bool IsGroup = !string.IsNullOrEmpty(Group);
                    if (IsGroup)
                        {
                        <span class="btn-info btn right method-show-hide relative" click-fade-toggle=".manage-export-group-@Group.RemoveAll(" ")">
                            <glyph class="manage-export-group-@Group.RemoveAll(" ") absolute">&#x2b;</glyph>
                            <glyph class="manage-export-group-@Group.RemoveAll(" ") absolute" style=" display: none;">&#x2212;</glyph>
                        </span>

                        <h3>
                            @Group
                        </h3>
                        }

                    <div class="manage-export-group-@Group.RemoveAll(" ")" style="@(IsGroup ? "display:none;" : "")">
                        @foreach (var Export in ExportGroups[Group])
                            {
                            <div class="export-row">
                                @* ReSharper disable once Mvc.ActionNotResolved *@
                                @Html.ActionLink(Export.Name,
                                        nameof(ManageController.Export),
                                        Controllers.Manage.Actions.Route_Export(Model, Export))
                                <a href="@(Url.Controller<CustomExportController>().Action(Controller => Controller.Edit, Export.CustomExportID, Request.Url?.AbsoluteUri, false))">
                                    <div class="btn btn-default">
                                        <glyph>&#xe065;</glyph>
                                    </div>
                                </a>
                            </div>
                            }
                    </div>
                    }
                }
            else
                {
                <div class="export-row">
                    @* ReSharper disable once Mvc.ActionNotResolved *@
                    @Html.ActionLink("Export",
                        nameof(ManageController.Export),
                        Controllers.Manage.Actions.Route_Export(Model))
                    <a href="@(Url.Controller<CustomExportController>().QS(new Dictionary<string, object>
                        {
                            {"ExportType", Model.ModelType.FullName},
                            {"Name", CustomExport.DefaultName},
                            {"ManagementPage", ViewContext.GetManageController().GetType().FullName}
                        }).Action(Controller => Controller.Create, Request.Url?.AbsoluteUri))">
                        <div class="btn btn-default">
                            <glyph>&#xe065;</glyph>
                        </div>
                    </a>
                </div>

                }

            @if (ViewContext.AllowCreate(typeof(CustomExport)))
                {
                <a href="@(Url.Controller<CustomExportController>().QS(new Dictionary<string, object>
                    {
                    {"ExportType", Model.ModelType.FullName},
                    {"ManagementPage", ViewContext.Controller.GetType().FullName}
                    }).Action(Controller => Controller.Create, Request.Url?.AbsoluteUri))">
                    <div class="btn btn-default">
                        <glyph>&#x2b;</glyph>
                    </div>
                </a>
                }
        </div>
    </div>
    }