@inherits SingularityRazor

@using LCore.Tools
@using Singularity.Extensions


@{
    Set<string, string>[] Breadcrumbs = SingController.Breadcrumbs ?? new Set<string, string>[] { };
}

<section class="content-header">

    <h1 class="breadcrumb-title">
        @for (int Index = 0; Index < Breadcrumbs.Length; Index++)
            {
            Set<string, string> Key = Breadcrumbs[Index];
            bool Last = Index == Breadcrumbs.Length - 1;

            if (Last)
                {
                @Key.Obj1
                }
            else
                {
                <a href="@Key.Obj2">
                    @Key.Obj1
                </a>
                @Html.FontAwesome(FontAwesomeExt.Icon.arrow_right)
                }
            }
    </h1>

    <ol class="breadcrumb">
        @for (int Index = 0; Index < Breadcrumbs.Length; Index++)
            {
            Set<string, string> Key = Breadcrumbs[Index];
            bool Last = Index == Breadcrumbs.Length - 1;

            if (Last)
                {
                <li class="active">
                    @Key.Obj1
                </li>
                }
            else
                {
                <li class="active">
                    <a href="@Key.Obj2">
                        @Key.Obj1
                    </a>
                </li>
                @Html.FontAwesome(FontAwesomeExt.Icon.arrow_right)
                }
            }
    </ol>
</section>

<h1>@ViewBag.Title</h1>
